<section class="section-intro padding-top-sm">
    <div class="container">
   <div class="container">
                          
    <div class="row g-2 w-100  ">
        <div class="col flex-grow ">
          <div class="input-group  rounded-pill py-3 px-7">
           
            
          <input type="text" placeholder="entrer un mot clé" class="form-control" name="">
         
          <div class="input-field second-wrap">
              <button class="btn-primary  py-3 px-5" type="button"><i class="fa fa-search-plus" aria-hidden="true"></i>chercher</button>
            </div>
          </div>
          <div class="nav-item">
           <a class="nav-link underline" routerLink="/recherche">Recherche avancée</a>
         </div>
        </div>
    </div>
   </div>
   </div>
   </section>
   
   <app-bouton-creer-offre></app-bouton-creer-offre>
   <div class="card-header bg-primary text-white px-6">
    <div class="d-flex justify-content-between align-items-center">
        <div class="me-6">
            <h2 class="card-title text-white mb-0">List Offre</h2>
           
        </div>
       
    </div>
   </div>
   <div class="card-body p-6">
   
       
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th scope="col">Titre</th>
                    <th scope="col">Description</th>
                    <th scope="col">Période</th>
                    <th scope="col">Price</th>
                    <th scope="col">Action</th>
                  
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of item" >
                  
                    <td>
                       {{data.nom}} 
                    </td>
                    <td>{{data.nbre_question}}</td>
                    <td>{{data.duree}}</td>
                    <td>{{data.solde}}</td>
   
                    <td>
                        <button class="btn btn-primary text-uppercase" style="margin-left: 10px;" ngbTooltip="modifier"><i class="fa fa-wrench" ></i></button>
                        <button class="btn btn-primary text-uppercase" style="margin-left: 10px;"  ngbTooltip="fermer"><i class="fa fa-times" ></i></button>
                       
                    </td>
                </tr>
             
            </tbody>
        </table>
    </div>   
