<div class="page-content d-flex align-items-stretch"> 
    <!-- Side Navbar -->
    <nav class="side-navbar z-index-40">
      <!-- Sidebar Header-->
      <div class="sidebar-header d-flex align-items-center py-4 px-3"><img class="avatar shadow-0 img-fluid rounded-circle" src="assets/img/avatar-1.jpg" alt="...">
        <div class="ms-3 title">
          <h1 class="h4 mb-2">Nom</h1>
          <p class="text-sm text-gray-500 fw-light mb-0 lh-1">Titre</p>
        </div>
      </div>
      <!-- Sidebar Navidation Menus--><span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span>
      <ul class="list-unstyled py-4">
        <li class="sidebar-item active"><a class="sidebar-link" href=""> 
          <i class="fa-solid fa-house"></i>Home </a></li>
          <li class="sidebar-item active"><a class="sidebar-link" href=""> 
            <i class="fa-solid fa-house"></i>Gestion des tickets </a></li>
            <li class="sidebar-item active"><a class="sidebar-link" href=""> 
              <i class="fa-solid fa-house"></i>Gestion des documents </a></li>
              <li class="sidebar-item active"><a class="sidebar-link" href=""> 
                <i class="fa-solid fa-house"></i>Gestion des categories </a></li>
                <li class="sidebar-item active"><a class="sidebar-link" href=""> 
                  <i class="fa-solid fa-house"></i>Gestion des tags </a></li>      
              <li class="sidebar-item active"><a class="sidebar-link" href=""> 
                <i class="fa-solid fa-house"></i>Gestion des comptes </a></li>
                <li class="sidebar-item active"><a class="sidebar-link" href=""> 
                  <i class="fa-solid fa-house"></i>Gestion des offres </a></li>
                  
      
 
       <div *ngFor="let item of users">
        <li class="sidebar-item" ><a class="sidebar-link" href="#exampledropdownDropdown" data-bs-toggle="collapse"> 
            data </a>
          <ul class="collapse list-unstyled " id="exampledropdownDropdown">
            <li >
              <a class="sidebar-link" href="#"> info</a>
            </li>
             <li><a class="sidebar-link" href="#">Page</a></li>
            <li><a class="sidebar-link" href="#">Page</a></li> 
          </ul>
        </li>
      </div>
      
    
      </ul>
    </nav>
    </div>