<app-topbar></app-topbar>

<!-- Carousel Start -->

<app-carouselle ></app-carouselle>
<!-- Carousel End -->
<!-- Facts Start -->
<div id='cartes-categ' >
    <app-cartes-affichant-categories class="mb-5"></app-cartes-affichant-categories>
</div>

<!-- Facts End -->
<!-- About Start -->
<app-about-us class="mb-5"></app-about-us>
<!-- About End -->
<!-- Product Start -->
<app-liste-articles class="mb-5"></app-liste-articles>
<!-- Product End -->
<!-- Team Start -->
<app-partenaires class="mb-5"></app-partenaires>
<!-- Team End -->
<!-- Testimonial Start -->
<app-avis-expert class="mb-5"></app-avis-expert>
<!-- Testimonial End -->
<app-news-letter class="mb-5"></app-news-letter>
